﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/appLayoutStyles")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/Common/js")" type="text/javascript"></script>
    @RenderSection("metas", false)
    @{
        if (!Request.Url.Host.Contains("localhost"))
        {
            <!-- Google Tracking Code -->
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-4867336-2']);
                _gaq.push(['_setDomainName', '.zizhujy.com']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
            <!-- Google Tracking Code Over -->
        }
    }
    @Html.Partial("Partials/_Adsense")
</head>

<body>
    <div class="page">
        <div id="main">
            <div id="app">
                @RenderBody()
            </div>
            <div id="appLeftBg"></div>
            <div id="appRightBg"></div>
            <div class="clearFloat"></div>
            @RenderSection("appFooter", false)
        </div>
    </div>
@RenderSection("Scripts", false)</body>
</html>
