﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Baseline.css?minify=true")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/panes.css?minify=true")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tablet.css?minify=true")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Html5AppLayout.css?minify=true")" rel="Stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/zizhujy.ico")" type="image/x-icon" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/zizhujy.com-1.3.js?minify=true")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Globalize.js?minify=true")" type="text/javascript"></script>
    @RenderSection("metas", false)
    <script type="text/javascript">
    <!--
        (function ($) {
            $(document).ready(function () {
                // 选择文化链接
                $("#cultureSelectionList li a[selected='selected']").parent().addClass("selected");
                // 选择菜单项
                var currentPageId = $("zizhujy").attr("pageId");
                $("#menucontainer ul li[pageId='" + currentPageId + "']").addClass("selected");

                // 增加Logo特效
                $("#logo #logoImage").bind("mouseover mouseout", function () { $(this).toggleClass("hover"); });
            });

            // Conditional CSS for IEMobile (http://blogs.msdn.com/b/iemobile/archive/2010/12/08/targeting-mobile-optimized-css-at-windows-phone-7.aspx)
            // doesn't seem to work on WP7.5 (Mango) emulator, so use useragent-based detection instead
            if (navigator.userAgent.indexOf("IEMobile") >= 0) {
                document.body.className += " iemobile";
                window.onscroll = function () { window.scroll(0, 0) }
            }
        })(jQuery);
    //-->
    </script>
    @{
        if (!Request.Url.Host.Contains("localhost"))
        {
        @Html.Raw(HttpContext.GetLocalResourceObject(this.VirtualPath, "TrackingCode").ToString())
        }
    }
    @Html.Partial("Partials/_Adsense")
</head>
<body>
    <div class="left col">
        <div class="layout-header row">
            @RenderSection("leftSideHeader", false)
        </div>
        <div class="body row scroll-y">
            <ul class="listview">
                @RenderSection("leftSideBar", false)
            </ul>
        </div>
        <div class="layout-footer row">
            @RenderSection("leftSideFooter", false)
        </div>
    </div>
    <div class="right col">
        <div class="layout-header row">
            <div id="menucontainer">
                <ul class="menu" style="float: left;">
                    <li pageId="Home">@Html.ActionLink(HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuHomeText").ToString(), "Index", "Home", new {},  new { title = HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuHomeTitle").ToString() } )</li>
                    <li pageId="Ploter">@Html.ActionLink(HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuPloterText").ToString(), "Index", "Ploter", new {}, new { title = HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuPloterTitle").ToString() })</li>
                    <li pageId="Matrix">@Html.ActionLink(HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuMatrixText").ToString(), "Index", "Matrix", new {}, new { title = HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuMatrixTitle").ToString() })</li>
                    <li pageId="ApplicationFactory">@Html.ActionLink(HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuApplicationFactoryText").ToString(), "Index", "ApplicationFactory", new {}, new { title = HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuApplicationFactoryTitle").ToString() })</li>
                    <li pageId="Blog"><a href="https://jeff-tian.jiwai.win" title="@HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuBlogTitle")" target="_blank">@HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuBlogText").ToString()</a></li>
                    <li pageId="About">@Html.ActionLink(HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuAboutText").ToString(), "About", "Home", new {}, new { title = HttpContext.GetLocalResourceObject(this.VirtualPath, "MenuAboutTitle").ToString() })</li>
                </ul>
                <ul id="cultureSelectionList" class="menu" style="float: right; right: 0;">
                    @Html.Partial("_CultureSelectionListPartial")
                </ul>
                <div class="clearFloat"></div>
            </div>
            @RenderSection("paneHeader", false)
        </div>
        <div class="body row scroll-y">
            @RenderBody()
            @*<h3>
                Here are some other controls</h3>
            <ul class="listview inset">
                <li>One</li><li>Two</li><li>Three</li>
            </ul>
            <p>
                ... and here's a horizontally-scrollable thing:</p>
            <div class="scroll-x tiles">
                <ul>
                    <li>Asia</li>
                    <li>Africa</li>
                    <li>America</li>
                    <li>Antarctica</li>
                    <li>Australia</li>
                    <li>Europe</li>
                </ul>
            </div>
            <p>
                That's enough.</p>
            <p>
                That's enough.</p>
            <p>
                That's enough.</p>*@
        </div>
        <div class="layout-footer row">
            @RenderSection("paneFooter", false)               
            <div id="ad-bottom">
            @{
                if (!Request.Url.Host.Contains("localhost"))
                {
                    @Html.Raw(HttpContext.GetLocalResourceObject(this.VirtualPath, "AdCode_Bottom").ToString())
                } 
            }
            </div>
        </div>
    </div>
    @RenderSection("beforeBodyCloset", false)
</body>
</html>
