﻿@using System.Web.Optimization
@using ZiZhuJY.Web.UI.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/zizhujy.ico")" type="image/x-icon" />
    @RenderSection("metas", false)
    @Html.RenderCsses("~/Content/LandscapeLayout.css", "~/Scripts/jquery-ui/css/smoothness/jquery-ui", "~/Content/css/iconfontsFico.css")
    @RenderSection("HeaderStyles", false)
    @Scripts.Render("~/Scripts/Common/js")
    @RenderSection("HeaderScripts", false)
    <script type="text/javascript">
        $(document).ready(function () {

            function getScrollBarSize() {
                var el = document.createElement('div');
                el.style.height = '100%';
                el.style.display = 'hidden';
                el.style.overflow = 'scroll';
                document.body.appendChild(el);
                var w = el.offsetWidth - el.clientWidth;
                var h = el.offsetHeight - el.clientHeight;
                document.body.removeChild(el);
                var size = new Array(w, h);

                return size;
            }

            function adjustMainHeight() {
                var fullHeight = $('#page').innerHeight();
                var scrollBarHeight = getScrollBarSize()[1];

                var headerHeight = $('#header').outerHeight();
                var footerHeight = $('#footer').outerHeight();

                var mainHeight = fullHeight - headerHeight - footerHeight - scrollBarHeight;

                $('#main').css({ height: mainHeight + 'px' });
            }

            adjustMainHeight();

            $(window).resize(adjustMainHeight);
        });
    </script>
    @Html.Partial("Partials/_Adsense")
</head>
<body>
    <div id="page">
        @if (ViewBag.HideHeader != true)
        {
            <div id="header">
                <div id="menucontainer">
                    <ul class="menu" style="float: left;">
                        <li pageid="Home">
                            @Html.ActionLink(Html.Localize(this, "MenuHomeText"), "Index", "FunctionGrapher", new { }, new { title = Html.Localize(this, "MenuHomeTitle") })
                        </li>
                        <li pageid="Plotter">
                            @Html.ActionLink(Html.Localize(this, "MenuPloterText"), "Index", "Plotter", new { }, new { title = Html.Localize(this, "MenuPloterTitle") })
                        </li>
                        <li pageid="ScientificCalculator">
                            @Html.ActionLink(Html.Localize(this, "MenuScientificCalculatorText"), "Index", "GeekCalculator", new { }, new { title = Html.Localize(this, "MenuScientificCalculatorTitle") })
                        </li>
                        <li pageid="PDFConverter">
                            @Html.ActionLink(this.Localize("MenuPDFConverterText"), "Index", "PDFConverter", new { }, new { title = this.Localize("MenuPDFConverterTitle") })
                        </li>
                        <li pageid="GraphWorld">
                            @Html.ActionLink(Html.Localize(this, "MenuGraphWorld"), "Index", "GraphWorld", new { }, new { title = Html.Localize(this, "MenuGraphWorldTitle") })
                        </li>
                        <li pageid="Matrix">
                            @Html.ActionLink(Html.Localize(this, "MenuMatrixText"), "Index", "Matrix", new { }, new { title = Html.Localize(this, "MenuMatrixTitle") })
                        </li>

                        <li pageid="ApplicationFactory">
                            @Html.ActionLink(Html.Localize(this, "MenuApplicationFactoryText"), "Index", "ApplicationFactory", new { }, new { title = Html.Localize(this, "MenuApplicationFactoryTitle") })
                        </li>
                        <li pageid="Blog">
                            <a href="https://jeff-tian.jiwai.win" title="@Html.Localize(this, "MenuBlogTitle")" target="_blank">@Html.Localize(this, "MenuBlogText")</a>
                        </li>
                        <li pageid="About">
                            @Html.ActionLink(Html.Localize(this, "MenuAboutText"), "About", "Home", new { }, new { title = Html.Localize(this, "MenuAboutTitle") })
                        </li>
                        <li pageid="AlongTheRiverAtTheQingMingFestival">
                            @Html.ActionLink(this.Localize("MenuAlongTheRiverAtTheQingMingFestival"), "Index", "AlongTheRiverDuringQingMingFestival", new { }, new { title = this.Localize("MenuAlongTheRiverAtTheQingMingFestivalTitle") })
                        </li>
                    </ul>
                    <div class="clearFloat"></div>
                </div>
                @{
            if (ViewBag.ShowBanner == null || (bool)ViewBag.ShowBanner)
            {
                <div id="banner">
                    <div id="logo">
                        <div id="logoImage"></div>
                        <div id="logoText">
                            <h1><a href="https://jeff-tian.jiwai.win" title="@this.Localize("LogoTitleTitle")">@this.Localize("LogoTitleText")</a></h1>
                            <span class="logo-text-desc">@Html.Raw(Html.Localize(this, "LogoTextDescRaw"))</span>
                        </div>
                    </div>
                    <div id="bannerRight">
                        @{
                if (!string.IsNullOrEmpty(ViewBag.BannerTitle))
                {
                        <h1>@Html.Raw(ViewBag.BannerTitle)</h1>
                }
                        }
                        @RenderSection("banner", false)
                    </div>
                </div>
            }
                }
                <div id="additional-header">@RenderSection("additionalHeader", false)</div>
            </div>
        }
        <div id="main">
            @RenderBody()
            <div class="clearFloat"></div>
        </div>
        <div id="footer">
            <ul class="footerMenu">
                <li>
                    <a href="@this.Localize("FooterMenuContactMeLink")" title="@this.Localize("FooterMenuContactMeTitle")">
                        @this.Localize("FooterMenuContactMeText")
                    </a>
                </li>
                @Html.Raw(this.Localize("FriendLinks"))
                @RenderSection("FooterLinks", false)
                @*<li>
                        <a href="@Html.Localize(this, "FooterMenuDonateMeLink")" title="@Html.Localize(this, "FooterMenuDonateMeTitle")">@Html.Localize(this, "FooterMenuDonateMeText")</a>
                    </li>*@
            </ul>
            <div class="adLinks">
                @Html.RenderAds(Html.Localize(this, "AdLinks").ToString())
            </div>
            <div style="float: right;">
                @RenderSection("Cultures", false)
            </div>
            <div class="clearFloat"></div>
        </div>
    </div>
    @RenderSection("Scripts", false)

    @if (ViewBag.HideSocialPlugin != true && !Request.IsLocal)
    {
        <link href="@Url.Content("~/Scripts/SocialPlugin/socialplugin.css")" rel="Stylesheet" type="text/css" />
        <script defer="defer" src="@Url.Content("~/Scripts/SocialPlugin/socialplugin.js")" type="text/javascript"></script>
    }

    @{
        if (!Request.IsLocal)
        {
            @Html.Raw(Html.Localize(this, "TrackingCode"))
        }
    }
</body>
</html>
