﻿@using ZiZhuJY.Web.UI.Helpers
@using ZiZhuJY.Web.UI.Utility
@{    
    ViewBag.Title = this.Localize("Title");
}
@section HeaderScripts {
    <meta name="description" content="@this.Localize("SeoDescription")" />
    <style type="text/css">
        #main ul li {
            margin: 10px 0;
        }

        #main ul li.new 
        {
            padding: 5px 0;
        }

            #main ul li.new a {
                background-color: yellow;
                border: solid 1px red;
                padding: 5px;
            }
    </style>
}
@section additionalHeader {
    <div>
        <h2>@this.Localize("Header")</h2>
    </div>
}

<zizhujy pageId="ApplicationFactory"></zizhujy>

<ul>
    <li>
        <a href="@Url.Content("~/FunctionGraffiti")" title="@this.Localize("FunctionGraffitiTitle")"><strong>@this.Localize("FunctionGraffitiText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Ploter")" title="@this.Localize("PloterTitle")"><strong>@this.Localize("PloterText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Watermark")" title="@this.Localize("WatermarkTitle")"><strong>@this.Localize("WatermarkText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Watermark/ImageWatermark")" title="@this.Localize("ImageWatermarkTitle")"><strong>@this.Localize("ImageWatermarkText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/String")" title="@this.Localize("StringTitle")"><strong>@this.Localize("StringText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Apps/IcoMaker")" title="@this.Localize("IcoMakerTitle")"><strong>@this.Localize("IcoMakerText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Apps/Decompressor")" title="@this.Localize("DecompressorTitle")"><strong>@this.Localize("DecompressorText")</strong></a>
    </li>
    <li>
        <a href="@Url.Content("~/Apps/WhereAreYouNow")" title="@this.Localize("WhereAreYouNowTitle")"><strong>@this.Localize("WhereAreYouNowText")</strong></a>
    </li>
    <li class="new">
        <a href="@Url.Content("~/Apps/ImageExplorer")" title="@this.Localize("ImageExplorerTitle")"><strong>@this.Localize("ImageExplorerText")</strong></a>
    </li>
</ul>

<p>@this.Localize("Description").ToString()</p>

@section Cultures {
    @this.RenderCultureSelection()
}